<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wasteland.blogsourcecode.mybatisdemo.mapper.UserMapper">

    <select id="findById" resultType="com.wasteland.blogsourcecode.mybatisdemo.pojo.User">
        select * from user where id = ${id}
    </select>

    <select id="findAll" resultType="com.wasteland.blogsourcecode.mybatisdemo.pojo.User">
        select * from user
    </select>

    <delete id="DelteById" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <insert id="AddUser" parameterType="com.wasteland.blogsourcecode.mybatisdemo.pojo.User">
        insert into user(name,age,gender,phone) values(#{name},#{age},#{gender},#{phone})
    </insert>

    <update id="UpdateUser" parameterType="com.wasteland.blogsourcecode.mybatisdemo.pojo.User">
        update user set name = #{name},age = #{age},gender = #{gender},phone = #{phone} where id = #{id}
    </update>
</mapper>